<div>
  <h2>Mensajes</h2>
  
  <div *ngFor="let mensaje of mensajes">
    <div>
      <strong>{{ mensaje.remitente.nombre }}</strong>
      <p>{{ mensaje.contenido }}</p>
      <p><strong>Etiquetas:</strong> {{ mensaje.etiquetas.join(', ') }}</p>

      
      
      <!-- Campo para nueva etiqueta -->
      <input type="text" [(ngModel)]="etiquetaNueva" placeholder="Nueva etiqueta" />
      <button (click)="crearEtiqueta(mensaje._id)">Agregar Etiqueta</button>
      
      <!-- Eliminar etiqueta -->
      <div *ngFor="let etiqueta of mensaje.etiquetas">
        <button (click)="eliminarEtiqueta(mensaje._id, etiqueta)">Eliminar {{ etiqueta }}</button>
      </div>

      <!-- Responder mensaje -->
      <input type="text" #respuesta placeholder="Responde al mensaje" />
      <button (click)="responderMensaje(mensaje._id, respuesta.value)">Responder</button>
    </div>
  </div>
  
  <!-- Enviar nuevo mensaje -->
  <div>
    <textarea [(ngModel)]="nuevoMensaje" placeholder="Escribe tu mensaje"></textarea>
    <button (click)="enviarMensaje()">Enviar mensaje</button>
  </div>
</div>
